<div class="container-fluid">
  <div class="center-block">
    <div class="row">
      <div class="col-xs-3"></div>
	  <div class="col-xs-6">
		<h2> Editing Book</h2>
		<%= form_for(@book) do |f| %>
		<strong>Title</strong>
			<p><%= f.text_field :title, class:"form-control" %></p>
		<strong>Opinion</strong>
		<p><%= f.text_area :body, class:"form-control" %></p>
		<button type="submit" class="btn btn-primary btn-lg btn-block">Update Book</button>
		<%= link_to 'Show', book_path(@book)%> |
		<%= link_to 'Back', books_path %>
		<% end %>
	  </div>
	  <div class="col-xs-3"></div>
	</div>
  </div>
</div>
