<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="container">
  <div class="row">
   <%= render'users/sidebar', user:@user, book:@newbook %>
   <div class="col-xs-9">
        <h2>Book detail</h2>
          <table class="table">
            <thead>
              <tr></tr>
            </thead>
              <tbody>
                <tr>
                  <td>
                    <%= link_to user_path(@book.user.id) do %>

                    <%= attachment_image_tag @book.user, :profile_image, class: "pull-left profile-thumb", fallback: "no_image.jpg", size:'45x45'%>
                    <%= @book.user.name %>
                    <% end %>
                  </td>
                  <td><%= @book.title %></th>
                  <td><%= @book.body %></th>
                  <% if current_user.id == @book.user_id %>
                  <td><%= link_to "Edit",edit_book_path(@book.id), class: "btn-sm btn-success edit_book_#{@book.id}"%></td>
                  <td><%= link_to "Destroy", book_path(@book.id), method: :delete,  data: {confirm: "本当に削除しますか？"},class: "btn-sm btn-danger destroy_book_#{@book.id}"%></td>
                  <% end %>
                </tr>
              </tbody>
            </thead>
          </table>
    </div>
  </div>
</div>