<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class='nav navbar-nav navbar-left' >
          <a class="navbar-brand" href="">
            <span>Bookers</span>
          </a>
        </nav>

  <nav>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Home", user_path(current_user), class: "glyphicon glyphicon-home home" %>
        </li>
        <li>
          <a class="glyphicon glyphicon-user user" href="/users"> Users</a>
        </li>
        <li>
          <a class="glyphicon glyphicon-book books" href="/books"> Books</a>
        </li>
        <li>
          <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %>

          </li>
      </ul>

      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="glyphicon glyphicon-home home" href="/"> Home</a>
        </li>
        <li>
          <a class="glyphicon glyphicon-link about" href="/home/about"> About</a>
        </li>
        <li>
          <a class="glyphicon glyphicon-edit sign_up" href="/users/sign_up"> sign up</a>
        </li>
        <li>
          <a class="glyphicon glyphicon-log-in sign_in" href="/users/sign_in"> login</a>
        </li>
      </ul>
    <% end %>
  </nav>
      </div>
    </header>

  <div class='body'>
    <div class='margin'></div>
  </div>

  <main>
  <%= yield %>
  </main>

  <div class="container">
    <footer>
      <p><div align="right">CopyRight Infratop.inc</div></p>
    </footer>
  </div>

</body>
</html>